<div class="w-80 bg-white shadow-lg rounded-lg overflow-hidden">
  <!-- Imagem de Fundo -->
  <div class="h-48 bg-gray-300 relative">
    <div
      class="absolute bottom-2 left-1/2 transform -translate-x-1/2 w-10 h-2 bg-gray-500 rounded-full"
    ></div>
  </div>

  <div class="p-4">
    <div class="flex justify-between items-center">
      <!-- <h2 class="text-lg font-bold truncate w-56">
        {{  }} Aqui entra o nome (endereço do hotel)
      </h2> -->
      <div class="flex items-center">
        <!-- <span class="text-gray-600">{{  }}</span> aqui entra a avaliação do quarto -->
        <i class="pi pi-star text-yellow-500 ml-1"></i>
      </div>
    </div>
    <!-- <p class="text-gray-500">{{ card?.location }}</p>  aqui vai entrar alguma parte da localização-->
    <!-- <p class="text-black font-bold">
      R${{ card.price }} <span class="font-normal">night</span> aqui entra o price, que vai ser passado por dois pipes, um para converter para moeda
    </p> -->
  </div>
</div>
