<footer class="bg-[var(--color-header)] text-[var(--color-title)] relative">
  <div
    class="max-w-[1570px] mx-auto px-4 sm:px-6 lg:px-8 py-4 flex items-center justify-between"
  >
    <div class="flex items-center gap-2">
      <img
        src="../../../assets/company.svg"
        alt="Logo for the system hotel booking"
      />
      <p>2025 Airbnb, Inc</p>
      <p class="ml-6">Privacy</p>
      <p class="ml-6">Terms</p>
    </div>
    <div class="flex items-center gap-8">
      <div class="flex items-center gap-2">
        <img
          src="../../../assets/solar_global.svg"
          alt="Logo for the system hotel booking"
        />
        English
      </div>
      <div class="flex items-center gap-2">
        <img
          src="../../../assets/money.svg"
          alt="Logo for the system hotel booking"
        />
        USD
      </div>
      <ul class="flex items-center gap-2">
        <li>
          <img
            src="../../../assets/instagram.svg"
            alt="Logo for the system hotel booking"
          />
        </li>
        <li>
          <img
            src="../../../assets/facebook.svg"
            alt="Logo for the system hotel booking"
          />
        </li>
        <li>
          <img
            src="../../../assets/tiktok.svg"
            alt="Logo for the system hotel booking"
          />
        </li>
        <li>
          <img
            src="../../../assets/twitter.svg"
            alt="Logo for the system hotel booking"
          />
        </li>
      </ul>
    </div>
  </div>
</footer>
