/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  //Colors
  --color-header: rgba(232, 232, 232, 0.44);
  --color-title: #304e00;
  --card-background-color: #f2eeeef5;
  --card-font-color: #618725f7;

  //Font
  --font-family-primary: "Rubik";
}

* {
  font-family: var(--font-family-primary);
}
