<section
  class="bg-white border border-gray-300 w-full h-35 absolute rounded-lg mt-2"
>
  <div class="flex flex-col items-center mt-5">
    <input
      type="email"
      id="name"
      placeholder="Email"
      class="w-36 h-6 text-base border-2 border-[var(--card-font-color)] rounded-lg pl-2 shadow-md mb-2"
    />
    <input
      type="password"
      id="Password"
      placeholder="Password"
      class="w-36 h-6 text-base border-2 border-[var(--card-font-color)] rounded-lg pl-2 shadow-md"
    />
    <button
      class="cursor-pointer text-white bg-[var(--card-font-color)] w-16 h-6 rounded-md mt-5"
    >
      Login
    </button>
  </div>
</section>
