<div
  class="absolute inset-0 w-screen h-screen z-50 top-0 left-0 fixed backdrop-blur-xs flex items-center justify-center"
>
  <p-toast />
  <p-dialog
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '35rem' }"
    [showHeader]="false"
    (onHide)="closeAuthenticationContainer()"
    [dismissableMask]="true"
  >
    <p-tabView>
      <p-tabPanel header="Login">
        <app-login (event)="showMessage($event)"></app-login>
      </p-tabPanel>
      <p-tabPanel header="Registrer">
        <app-register></app-register>
      </p-tabPanel>
    </p-tabView>
  </p-dialog>
</div>
