<section
  class="w-80 h-86 bg-[var(--card-background-color)] rounded-lg shadow-md cursor-pointer flex flex-col"
>
  <img
    [src]="card?.image"
    alt="image for the hotel"
    class="w-full h-50 rounded-t-lg shadow-md"
  />
  <div class="flex mt-3.5 w-full pl-2 pr-4 justify-between">
    <h3 class="text-xl fort-normal text-[var(--card-font-color)]">
      {{ card?.name }}
    </h3>
    <div class="flex w-7 h-full">
      <p class="text-lg w-2.5 h-5 text-[var(--color-title)] mr-px">
        {{ card?.rating }}
      </p>
      <img
        src="../../../assets/material-symbols_star-rounded.svg"
        alt="star rating"
      />
    </div>
  </div>
  <div>
    <img src="../../../assets/bxs_map.svg" alt="map icon" />
    <div>
      <p>{{ card?.location?.street }}</p>
      <p>
        {{ card?.location?.city }}, {{ card?.location?.state }} -
        {{ card?.location?.country }}
      </p>
    </div>
  </div>
  <button>
    Book
    <img src="../../../assets/solar_calendar-bold.svg" alt="icon calendar" />
  </button>
</section>
