<section
  class="bg-white border border-gray-300 w-full m-h-35 absolute rounded-lg mt-2 pb-2"
>
  <form
    class="flex flex-col items-center mt-5"
    #formLogin="ngForm"
    (ngSubmit)="onSubmit(formLogin)"
  >
    <input
      type="email"
      id="name"
      name="email"
      placeholder="Email"
      class="w-36 h-7 text-base border-2 border-card-foreground rounded-lg pl-2 shadow-md mb-2"
      [(ngModel)]="email"
      #emailRef="ngModel"
      required
      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
    />
    @if (emailRef.invalid && emailRef.touched) {
    <span class="text-red-500 text-xs"> Invalid Format </span>}

    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
      class="w-36 h-7 text-base border-2 border-card-foreground rounded-lg pl-2 shadow-md"
      [(ngModel)]="password"
      #passwordRef="ngModel"
      minlength="5"
      required
    />
    @if (passwordRef.invalid && passwordRef.touched) {
    <span class="text-red-500 text-xs"> Invalid Format </span>}

    <button
      class="cursor-pointer text-white bg-card-foreground w-16 h-6 rounded-md mt-5"
      type="submit"
      [disabled]="formLogin.invalid"
    >
      Login
    </button>
  </form>
</section>
