/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  //Colors
  --color-header: rgba(232, 232, 232, 0.44);
  --color-title: #304e00;
  --card-background-color: #f2eeeef5;
  --card-font-color: #618725f7;
  --search-font-color: #676767;
  --card-location-street-color: #323232;
  --card-location-city-state-country-color: #242424;

  //Font
  --font-family-primary: "DM Sans", serif;
}

* {
  font-family: var(--font-family-primary);
}
