/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --color-header: rgba(232, 232, 232, 0.44);
  --color-title: #304e00;
  --color-card: #f2eeeef5;
  --color-card-foreground: #618725f7;
  --color-search-foreground: #676767;
  --card-location-street-color: #323232;
  --card-location-city-state-country-color: #242424;
  --font-family-primary: "DM Sans", serif;
}

* {
  font-family: var(--font-family-primary);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #312e81;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 10px;
  border: 2px solid #312e81;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f46e5;
}
